body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

#navbar .glyphicon {
    font-size: 8pt;
}

#navbar li.btn {
    padding: 0;
    margin: 10px;
}

#navbar li.btn a {
    color: white;
    padding: 5px;
}

.tickets.row h3.panel-title {
    text-align: right;
}

.panel-heading {
    text-shadow: 1px 1px black;
}

.panel-title {
    font-size: 15px;
}

.panel-success>.panel-heading {
    background-color: #5CB85C;
    border-color: #5CB85C;
    color: white;
}

.btn.view-replies {
    float:right;
}

.form {
    max-width: 600px;
}

.profile-picture {
    width: 60px;
    margin-bottom: 10px;
}

#seconds-left {
    font-weight: bold;
    font-size: larger;
}

.username {
    font-style: italic;
}

.table-hover tr:hover {
    cursor: pointer;
}

.row.search-tickets,
.row.search-users {
    margin-bottom: 30px;
}

.picture-element-principal{
    background-size: contain !important;
}

#throbber {
    display: none;
    background: url('/~group4/images/throbber.gif') no-repeat right;
    background-size: contain;
    height: 30px;
    content: ' ';
}
